@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body {
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	color: #000; 
}

.navbar {
	padding-top: .2rem;
	padding-bottom: : .2rem;
	padding-right: : .2rem;
	padding-left: 3rem;
	background-color: #0d0d54;
	font-weight: bolder;
}

.navbar a{
	color: #f27042;
	font-size: 200%;
}

.navbar-nav li {
	padding: 10px;
}

.nav-bar a{
	background-color: #f27042;
}

.nav-link {
	font-size: 1.1em !important;
}

.carousel-inner img {
	position: relative;
	width: 100%;
	height: 100%;
}

.carousel-caption {
	position: absolute;
	top: 50%;
	transform: : translateY(-50);
}

.carousel-caption h1 {
	font-size: 500%;
	text-transform: uppercase;
	text-shadow: 3px 3px 20px #000;
}

.carousel-caption h3 {
	font-size: 200%;
	font-weight: 500;
	text-shadow: 2px 2px 15px #000;
	padding-bottom : 1rem;
}

.btn-primary {
	background-color: #022444;
	color: #f27042; 
	border: 1px solid #022444;
	border-radius: 8px;
	box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn-primary:hover {
	background-color: #340980;
	color: #f4b41a;
	border: 1px solid #340980;
	border-radius: 8px;
	box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.jumbotron {
	padding: 2rem;
	border-radius: 0;
}

.padding {
	padding-bottom: 1rem;
}

.welcome {
	color: #f4b41a;
	width: 100%;
	margin: 0 auto;
	padding-top: 4rem;
	padding-right: 3rem;
	padding-bottom: 2rem;
}

.welcome p{
	font-size: 100%;

}

.welcome hr {
	border-top: 2px solid #f4b41a;;
	width: 80%;
	margin-top: .3rem;
	margin-bottom: 1rem;
}

.ts {
	padding-top: 5rem;
	padding-bottom: 4rem;
	padding-right: 2rem;
	padding-left: .5rem;
}

.card-ts {
	background-color: #fff;
	padding: .5rem;
}

.ts h2{
	font-size: 275%;
	color: #0d0d54;
}

.ts h6 {
	text-align: center;
	font-size: 120%;
	padding-right: 9rem;
	padding-left: 9rem;
	color: #0d0d54;
}

.ts h5 {
	color: #0d0d54;
	text-align: center;
}

.ts p{
	font-size: 85%;
	color: #0d0d54;
}

.our-rooms {
	padding-top: 5rem;
}

.room-cards{
	padding-left: 2rem;
}


.cards-rooms{
	display: inline-block;
	width: 170px;
	background-color: #f4b41a;
	border-radius: 10px;
	margin: 40px;
	box-shadow: 2px 2px 20px black;
}

.cards-rooms img{
	width: 170px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	box-shadow: 0px .5px 2px black;
}

.cards-rooms h6{
	text-align: left;
	padding-top: 10px;
	padding-left: 10px;
	font-size: 85%;
	color:#022444;
}

.cards-rooms p{
	text-align: left;
	padding-bottom: .5rem;
	padding-left: 10px;
	font-size: 70%;
	color:#022444;
}




.welcome-team {
	color: #f4b41a;
	width: 100%;
	margin: 0 auto;
	padding-top: 2rem;
}

.card {
	background-color: #f4b41a;
}

.card-body h4{
	background-color: #f4b41a;
	color: #022444;
	font-weight: 500%;
	font-style: bold;
}


.connect {
	padding-top: 5rem;
	padding-bottom: 6rem;
}

.social a{
	font-size: 4.5em;
	padding-top: 12rem;
	padding-left: 4rem;
	padding-right: 4rem;
	padding-bottom: 6rem;
}

.fa-facebook {
	color: #3b5998;
}

.fa-instagram {
  	width: 30px;
  	height: 70px;
  	border-radius: 20px;
  	color: #fff;
  	font-size: 80px;
  	line-height: 200px;
  	background: #d6249f;
  	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.fa-twitter {
	color: #00acee;
}

.fa-youtube {
	color: #c4302b;
}

.fa-whatsapp {
	color: #128c7e;
}


.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-youtube:hover,
.fa-whatsapp:hover {
	color: #d5d5d5;
}

 footer {
 	padding-top: 1rem;
 	background-color: #022444;
 	color: #f4b41a;
 }

 .foot hr {
	border-top: .1px solid #f4b41a;;
	width: 60%;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

