<template>
  <div id="app">

      <div class="container">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-6">
                  <b-button class="btn btn-outline-add" style="background-color: #080927" v-b-modal.AddBook @click="$bvModal.show('AddBook')"><i class="icon ion-md-book"></i>   Add Book</b-button>
              </div>
              <div class="col-sm-6">
              <form class="form-inline position-relative my-2 d-inline-block">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-search position-absolute btn-outline-success my-2 my-sm-0" type="submit"><i class="icon ion-md-search"></i></button>
              </form>
              </div>
						</div>
					</div>



					<table class="table table-hover">
						<thead>
							<tr style="background-color: #080927">
								<th></th>
								<th style="color: #fff">Name</th>
								<th style="color: #fff">Author</th>
								<th style="color: #fff">Copies Available</th>
								<th style="color: #fff">Category</th>
							</tr>
						</thead>
						<tbody>
							
							<tr v-for="(Book, index) in BookModelFilter" :key="index">
								<td class="text-center" style="background-color: #080927">
									<b-button href="" class="edit" data-toggle="modal" style="background-color: #080927" @click="ToBeUpdated(index)" v-b-modal.UpdateBook>
										<i class="icon ion-md-create" data-toggle="tooltip" title="Edit" style="color: #fff"></i>
									</b-button>
									<b-button href="" class="delete" data-toggle="modal" style="background-color: #080927" @click="SelectedBook = index" v-b-modal.DeleteModal>
										<i class="icon ion-md-trash" data-toggle="tooltip" title="Delete" style="color: #fff"></i>
									</b-button>
									<b-button href="" class="borrow" data-toggle="modal" style="background-color: #080927">
										<i class="icon ion-md-checkmark" data-toggle="tooltip" title="Borrow" style="color: #fff"></i>
									</b-button>
									<b-button href="" class="return" data-toggle="modal" style="background-color: #080927">
										<i class="icon ion-md-refresh" data-toggle="tooltip" title="Return" style="color: #fff"></i>
									</b-button>
								</td>
								<td>
									{{ Book.bookname }}
								</td>

									<td>
									{{ Book.author }}
								</td>

									<td>
									{{ Book.copiesAvailable }}
								</td>

								<td>
									{{ Book.category }}
								</td> 
							
							</tr>
						</tbody>
					</table>


					
					<!-- Add Modal -->
					<b-modal id="addBookModal" title="Add Book" centered>
						<form>
							<b-form-group>													
								<label for="f_name">Book Name</label>
								<input type="text" class="form-control" required="">

								<label for="f_name">Author</label>
								<input type="text" class="form-control" required="">
									
								<label for="f_name">Copies Available</label>
								<input type="text" class="form-control" required="">
									
								<label for="f_name">Category</label>
								<input type="text" class="form-control" required="">							
							</b-form-group>
						</form>
						<template #modal-footer class="float-right">								
								<input type="button" class="btn btn-dark" data-dismiss="modal" value="Cancel" @click="$bvModal.hide('addBookModal')">
								<input type="submit" class="btn btn-primary" value="Add" @click="$bvModal.hide('addBookModal')">
						</template>
					</b-modal>



					<!-- Edit Modal-->
					<b-modal id="editBookModal" title="Edit Book" centered>
						<form>
							<b-form-group>													
								<label for="f_name">Book Name</label>
								<input type="text" class="form-control" required="">

								<label for="f_name">Author</label>
								<input type="text" class="form-control" required="">
									
								<label for="f_name">Copies Available</label>
								<input type="text" class="form-control" required="">
									
								<label for="f_name">Category</label>
								<input type="text" class="form-control" required="">							
							</b-form-group>
						</form>
						<template #modal-footer class="float-right">								
								<input type="button" class="btn btn-dark" data-dismiss="modal" value="Cancel" @click="$bvModal.hide('editBookModal')">
								<input type="submit" class="btn btn-primary" value="Edit" @click="$bvModal.hide('editBookModal')">
						</template>
					</b-modal>
					
					
					
					<!-- Delete Modal -->
					<b-modal id="deleteBookModal" title="Delete Book" centered>
						<p>Are you sure you want to delete Book?</p>
						<p class="text-warning"><small>Data will be permanently deleted.</small></p>
							<template #modal-footer class="float-right">
									<input type="button" class="btn btn-dark" data-dismiss="modal" value="Cancel" @click="$bvModal.hide('deleteBookModal')">
									<input type="submit" class="btn btn-danger" value="Delete" @click="$bvModal.hide('deleteBookModal')">
							</template>
					</b-modal>
				</div>
			</div>


			<!-- Add Modal-->
			<b-modal id="AddBook" title="Add Book" hide-header-close ref="modal" centered>
				<form>
					<b-form-group>													
						<label for="f_name">Book Name</label>
						<input id="bookname" v-model="Form.bookname" type="text" name="name" class="form-control" required="">

						<label for="f_name">Author</label>
						<input id="author" v-model="Form.author" type="text" name="author" class="form-control" required="">
									
						<label for="f_name">Copies</label>
						<input id="copiesAvailable" v-model="Form.copiesAvailable" type="text" name="copiesAvailable" class="form-control" required="">
									
						<label for="f_name">Category</label>
						<input id="category" placeholder=" Category" v-model="Form.category" type="text" name="email" class="form-control" required="">							
					</b-form-group>
				</form>
				<template #modal-footer class="float-right">
					<input type="button" class="btn btn-dark" data-dismiss="modal" value="Cancel" @click="HideModal">
					<input type="submit" class="btn btn-primary" value="Add" @click="AddBook">
				</template>
				</b-modal>

			<!-- Edit Modal-->
			<b-modal id="UpdateBook" title="Update Book" centered modal-header no-close-on-backdrop no-close-on-esc hide-header-close ref="modal">
				<form>
					<b-form-group>													
						<label for="f_name">Book Name</label>
						<input id="bookname" v-model="Form.bookname" type="text" name="name" class="form-control" required="">

						<label for="f_name">Author</label>
						<input id="author" v-model="Form.author" type="text" name="author" class="form-control" required="">
									
						<label for="f_name">Copies</label>
						<input id="copiesAvailable" v-model="Form.copiesAvailable" type="text" name="copiesAvailable" class="form-control" required="">
									
						<label for="f_name">Category</label>
						<input id="category" placeholder=" Category" v-model="Form.category" type="text" name="email" class="form-control" required="">							
					</b-form-group>
				</form>
				<template #modal-footer class="float-right">
					<input type="button" class="btn btn-dark" data-dismiss="modal" value="Cancel" @click="HideModal">
					<input type="submit" class="btn btn-primary" value="Edit" @click="UpdateBook(SelectedBook)">
				</template>
			</b-modal>

		<!-- Delete Modal-->
		<b-modal id="DeleteModal" title="Confirm Delete" centered ref="modal" hide-header-close>
			<p>Are you sure you want to delete this book?</p>
			<p class="text-warning"><small>Data will be permanently deleted.</small></p>
			<template #modal-footer class="float-right">
				<input type="button" class="btn btn-dark" data-dismiss="modal" value="Cancel" @click="$bvModal.hide('DeleteModal')">
				<input type="submit" class="btn btn-danger" value="Delete" @click="DeleteBook(SelectedBook)">
			</template>
        </b-modal>


</div>
</template>

  
<script src="../../../assets/js/book.js"></script>
<script>
import Book from "../assets/js/book.js";
export default Book;
import { mapGetters, mapActions } from "vuex";
export default {


 data() {
    return {
      Form: {
        name: "",
        author: "",
        copies: "",
        category_id: "",
      },
      BookModel: [],
      SelectedBook: "",
      Search: "",
    };
  },
  methods: {
       ...mapActions(["fetchBook", "addBook", "updateBook", "deleteBook"]),
    addBookModal() {
      if (
        this.Form.name == "" ||
        this.Form.author == "" ||
        this.Form.copies == "" ||
        this.Form.category_id == ""
      ) {
        this.ErrorToast();
      } else {
      this.addBook(this.Form);
      console.log(this.form);
      this.HideModal();
      this.AddToast();
      }
    },


    editBookModal(index) {
      console.log(index);
      this.updateBook(this.Form);
      this.HideModal();
      this.EditToast();
    },

    deleteBookModal() {
      this.deleteBook(this.SelectedBook);
      this.HideModal();
    },

    HideModal() {
      this.$refs.modal.hide();
      this.FormReset();
    },
    FormReset() {
      this.Form = {
        name: "",
        author: "",
        copies: "",
        category_id: "",
      };
      this.SelectedBook = "";
    },

  AddToast() {
      this.$toast.success(`Book Added Successfully!`, {
        position: "top-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
    EditToast() {
      this.$toast.success(`Book Updated Successfully!`, {
        position: "top-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
    ErrorToast() {
      this.$toast.error(`Error! Empty Input Field/s`, {
        position: "top-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
  },

   created() {
    this.fetchBook();
  },
  computed: {
      ...mapGetters(["AllBooks"]),
    BookModelFilter() {
      return this.AllBooks.filter((Book) => {
        return this.Search.toLowerCase()
          .split(" ")
          .every((v) => Book.name.toLowerCase().includes(v));
      });
    },
  },
};
</script>
