<template>
  <div id="app">

      <div class="container">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-6">
                  <b-button class="btn btn-outline-add" style="background-color: #080927" v-b-modal.AddPatron @click="$bvModal.show('AddPatron')"><i class="icon ion-md-person-add"></i>   Add Patron</b-button>
              </div>
              <div class="col-sm-6">
              <form class="form-inline position-relative my-2 d-inline-block">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-search position-absolute btn-outline-success my-2 my-sm-0" type="submit"><i class="icon ion-md-search"></i></button>
              </form>
              </div>
						</div>
					</div>



					<table class="table table-hover">
						<thead>
							<tr style="background-color: #080927">
                  <th></th>
									<th style="color: #fff">Name</th>
									<th style="color: #fff">Email Address</th>
									<th style="color: #fff">Date Registered</th>
							</tr>
						</thead>
						<tbody>
							
                <tr v-for="(Patron, index) in PatronModelFilter" :key="index">
                  <td class="text-center" style="background-color: #080927">
                    <b-button href="" class="delete" data-toggle="modal" style="background-color: #080927" @click="ToBeUpdated(index)" v-b-modal.UpdatePatron>
                      <i class="icon ion-md-create" data-toggle="tooltip" title="Edit" style="color: #fff"></i>
                    </b-button>
                    <b-button href="" class="delete" data-toggle="modal" style="background-color: #080927" @click="SelectedPatron = index" v-b-modal.DeleteModal>
                      <i class="icon ion-md-trash" data-toggle="tooltip" title="Delete" style="color: #fff"></i>
                    </b-button>
                  </td>
                  <td>
                    {{ Patron.FirstName + " " + Patron.MiddleName + " " + Patron.LastName }}
                  </td>
                  <td>
                    {{ Patron.EmailAddress }}
                  </td>
                  <td>
                    {{
                      Patron.PatronDateRegistered | dateFormat("DD MMMM, YYYY")
                    }}
                  </td>
                </tr>
						</tbody>
					</table>

		
					<!-- Add Modal -->
          <b-modal id="AddPatron" title="Add Patron" hide-header-close ref="modal" centered>
            <form id="AddPatron" ref="modal">
              <b-form-group>													
                <label for="f_name">First Name</label>
                <input id="FirstName" v-model="Form.FirstName" type="text" name="name" class="form-control" required="">

                <label for="f_name">Middle Name</label>
                <input id="MiddleName" v-model="Form.MiddleName" type="text" name="middlename" class="form-control" required="">
                    
                <label for="f_name">Last Name</label>
                <input id="LastName" v-model="Form.LastName" type="text" name="lastname" class="form-control" required="">
                    
                <label for="f_name">Email Address</label>
                <input id="EmailAddress" v-model="Form.EmailAddress" type="text" name="email" class="form-control" required="">							
              </b-form-group> 
            </form>
            <template #modal-footer class="float-right">
              <input type="button" class="btn btn-dark" data-dismiss="modal" value="Cancel" @click="HideModal">
							<input type="submit" class="btn btn-primary" value="Add" @click="AddPatron">
            </template>
          </b-modal>

          <!-- Update Modal -->
          <b-modal id="UpdatePatron" title="Edit Patron" centered modal-header no-close-on-backdrop no-close-on-esc hide-header-close ref="modal">
            <form id="AddPatron" ref="modal">
              <b-form-group>													
                <label for="f_name">First Name</label>
                <input id="FirstName" v-model="Form.FirstName" type="text" name="name" class="form-control" required="">

                <label for="f_name">Middle Name</label>
                <input id="MiddleName" v-model="Form.MiddleName" type="text" name="middlename" class="form-control" required="">
                    
                <label for="f_name">Last Name</label>
                <input id="LastName" v-model="Form.LastName" type="text" name="lastname" class="form-control" required="">
                    
                <label for="f_name">Email Address</label>
                <input id="EmailAddress" v-model="Form.EmailAddress" type="text" name="email" class="form-control" required="">							
              </b-form-group> 
            </form>
            <template #modal-footer class="float-right">
              <input type="button" class="btn btn-dark" data-dismiss="modal" value="Cancel" @click="HideModal">
              <input type="submit" class="btn btn-primary" value="Edit" @click="UpdatePatron(SelectedPatron)">
            </template>
          </b-modal>

          <!-- Delete Modal -->
          <b-modal id="DeleteModal" title="Confirm Delete" centered ref="modal" hide-header-close>
              <p>Are you sure you want to delete patron?</p>
              <p class="text-warning"><small>Data will be permanently deleted.</small></p>
            <template #modal-footer class="float-right">
              <input type="button" class="btn btn-dark" data-dismiss="modal" value="Cancel" block @click="$bvModal.hide('DeleteModal')">
              <input type="submit" class="btn btn-danger" value="Delete" data-dismiss="modal" block @click="DeletePatron(SelectedPatron)">
            </template>
          </b-modal>
        </div>
        </div>
</div>
</template>

  
<script src="../../../assets/js/patron.js"></script>
<script>
import patron from "../assets/js/patron.js";
export default patron;
import { mapGetters, mapActions } from "vuex";
export default {

  
  data() {
    return {
      Form: {
        first_name: "",
        middle_name: "",
        last_name: "",
        email: "",
      },
      PatronModel: [],
      SelectedPatron: "",
      Search: "",
    };
  },
  methods: {
    ...mapActions(["fetchPatron", "addPatron", "updatePatron", "deletePatron"]),
    addPatronModal() {
      if (
        this.Form.first_name == "" ||
        this.Form.middle_name == "" ||
        this.Form.last_name == "" ||
        this.Form.email == ""
      ) {
        this.ErrorToast();
      } else {
        this.addPatron(this.Form);
        console.log(this.form);
        this.HideModal();
        this.AddToast();
      }
    },

    editPatronModal(index) {
      console.log(index);
      this.updatePatron(this.Form);
      this.HideModal();
      this.EditToast();
    },

    deletePatronModal() {
      this.deletePatron(this.SelectedPatron);
      this.HideModal();
    },

    HideModal() {
      this.$refs.modal.hide();
      this.FormReset();
    },
    FormReset() {
      this.Form = {
        first_name: "",
        middle_name: "",
        last_name: "",
        email: "",
      };
      this.SelectedPatron = "";
    },

    AddToast() {
      this.$toast.success(`Patron Added Successfully!`, {
        position: "top-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
    EditToast() {
      this.$toast.success(`Patron Updated Successfully!`, {
        position: "top-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
    ErrorToast() {
      this.$toast.error(`Error! Empty Input Field/s`, {
        position: "top-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
  },

  created() {
    this.fetchPatron();
  },
  computed: {
    ...mapGetters(["AllPatrons"]),
    PatronModelFilter() {
      return this.AllPatrons.filter((Patron) => {
        return this.Search.toLowerCase()
          .split(" ")
          .every((v) => Patron.first_name.toLowerCase().includes(v));
      });
    },
  },
};
</script>
